@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import '~normalize.css';
@import './header';
@import './main';
@import './test';

*{
  font-family: 'Montserrat', sans-serif;
}

html, body{ height: 100%}

.container{
  width: 960px;
  margin: 0 auto;
}